@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  background: #f4f4f4;
}

.container {
  margin: 0 auto;
  max-width: 1312px;
}

p, h1, h2, h3, h4, h5, h5 {
  margin-bottom: 0;
}